/* Resets and globals */  
html {
  font-family: 'Nunito', 'Arial', sans-serif;
  color: #2c3e50;
  line-height: 1.5;
  word-spacing: 1.2px;
	font-size: 16px;
}

body {
  width: 100%;
  background: #ffffff;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

a {
  color: inherit;
	border-bottom: 3px solid #ffffff;
}
a:hover {
  border-bottom: 3px solid rgba(255, 99, 132, 0.7);
	transition: all 0.3s;
}

.img-full-width {
  width: 100%;
}

.img-long {
	width: 100%;
	max-width: 300px;
  height: auto;
}

.img-small {
  width: 50%;
}

h1, h2, h3 {
  letter-spacing: 1.2px;
}

h1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

h3 {
	font-size: 18px;
}

p {
  font-size: 16px;
}

/* Content */
#content {
  position: relative;
	display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
	overflow-y: visible;
  transition: all 0.3s;
}
#content .content-inner {
	width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 20px;
  transition: all 0.3s;
}
#content .content-inner i {
  color: #ff6384;
  animation-duration: 2s;
  animation-iteration-count: 3;
}
#content .content-inner .main-section {
	margin-bottom: 20px;
  width: 100%;
}

#content .content-inner .section a {
  word-wrap: break-word;
  border-bottom: 3px solid #bababa;
  transition: all 0.3s ease-in-out;
}
#content .content-inner .section a:hover {
  border-bottom: 3px solid rgba(255, 99, 132, 0.7);
}
#content .content-inner .section .present {
  padding: 10px 0;
  text-align: center;
}

#content .content-inner .section .present span {
  background: rgba(255, 99, 132, 0.7);
  padding: 8px 15px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.2px;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 4px;
}

#content .content-inner .section .present span:hover {
  background: #ff6384;
  transition: all 0.3s;
}

.present-active {
  background: #ff6384!important;
}

#content .content-inner .section .present .desc {
  margin-top: 10px;
  margin-bottom: 10px;
}

#content .content-inner .section .code-snippet {
  background: #e2e2e2;
  border-radius: 4px;
  padding: 15px;
  margin: 10px 0;
  width: 100%;
}

.formula {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  background: #e2e2e2;
  padding: 4px;
  margin: 5px 0;
  border-radius: 4px;
  transition: all 0.3s;
  display: inline-block;
}

.highlight {
  border-bottom: 3px solid rgba(255, 99, 132, 0.7);
}

#top p {
  padding: 20px;
  border-radius: 4px;
  border: 3px solid rgba(255, 99, 132, 0.7);
}

.section ul {
  padding: 10px 0 0 20px;
}
.section ul li {
  margin-bottom: 10px;
}

#references ul {
	padding: 0;
}

/* Menu */
.menu-trigger {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s;
  color: #2c3e50;
  z-index: 9;
}

.menu-trigger .fas:hover {
  color: rgba(255, 99, 132, 0.7);
}

#menu {
  position: fixed;
  left: -230px;
  top: 0;
  display: block;
  width: 100%;
  max-width: 210px;
  height: 100%;
  padding: 10px 10px 20px 20px;
  border-right: 1px solid #bababa;
  transition: all 0.3s;
	overflow-y: scroll;
	overflow-x: hidden;
}
#menu ul {
  opacity: 0;
  transition: all 0.3s;
}
#menu ul li {
	margin-bottom: 5px;
}

#menu ul li .sub-menu {
	padding: 3px 0 3px 15px;
	font-size: 14px;
}

#menu ul li .sub-menu li {
	margin-bottom: 2px;
}

.menu-active #menu {
  left: 0;
}
.menu-active #menu ul {
  opacity: 1;
}
.menu-active #content {
  left: 210px;
}
.menu-active #content .menu-trigger {
  left: 230px;
}

.link-active {
  border-bottom: 3px solid #ff6384;
}

.tabs-active {
  color: #ff6384;
  font-weight: 700;
  transition: all 0.3s;
}

/* Tabs Content */
.tabs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #bababa;
  background: #e2e2e2;
  margin-top: 15px;
}
.tabs input {
  position: absolute;
  visibility: hidden;
}
.tabs input:focus + label {
  z-index: 1;
}
.tabs input:checked + label {
  background: #ff6384;
  color: #f9f9f9;
  border-color: #ff6384;
}
.tabs input:checked + label + .tabs-content {
  display: block;
}
.tabs label {
  padding: 12px 20px;
  width: auto;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  background: #e2e2e2;
  transition: background 0.15s;
}
.tabs label:hover {
  background: rgba(255, 99, 132, 0.7);
}
.tabs label:active {
  background: #ff6384;
  color: #f9f9f9;
}
.tabs .tabs-content {
  display: none;
  width: 100%;
  padding: 20px;
  order: 99;
  border-top: 1px solid #bababa;
  background: #f9f9f9;
}
.tabs .tabs-content .tabs-content-inner {
  display: none;
  position: relative;
  width: 100%;
  height: auto;
}
.tabs .tabs-content .tabs-content-inner .table {
  overflow-x: auto;
}
.tabs .tabs-content .tabs-content-inner .table table {
  font-size: 12px;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  border-collapse: collapse;
  width: 100%;
}
.tabs .tabs-content .tabs-content-inner .table table tr:hover {
  background-color: rgba(255, 99, 132, 0.7);
  font-weight: 700;
}
.tabs .tabs-content .tabs-content-inner .table table tr th {
  background: #e2e2e2;
  text-align: center;
  padding: 4px;
}
.tabs .tabs-content .tabs-content-inner .table table tr td {
  border-bottom: 1px solid #e2e2e2;
  text-align: center;
  padding: 4px;
}

/* Lists Content*/
.dropdown {
  width: 150px;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #bababa;
  transition: all 0.3s ease;
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
  height: 100%;
  text-align: left;
  background: #ffffff;
  margin-top: 15px;
}
.dropdown:hover {
  box-shadow: 0 0 4px #e2e2e2;
}
.dropdown:active {
  background: #e2e2e2;
}
.dropdown .dropdown-menu {
  position: absolute;
  background-color: #fff;
  width: 100%;
  left: 0;
  margin-top: 1px;
  border: 1px solid #bababa;
  border-color: transparent #bababa #bababa #bababa;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  display: none;
  max-height: 150px;
  overflow-y: auto;
  z-index: 5;
}
.dropdown .dropdown-menu li {
  padding: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.dropdown .dropdown-menu li:hover {
  background-color: #e2e2e2;
}
.dropdown .dropdown-menu li:active {
  background-color: #e2e2e2;
}
.dropdown .select {
  cursor: pointer;
  display: block;
  padding: 10px;
}
.dropdown .select > i {
  font-size: 13px;
  color: #ff6384;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  float: right;
  line-height: 20px;
}

.dropdown.active:hover, .dropdown.active {
  box-shadow: 0 0 4px #e2e2e2;
  border-radius: 4px 4px 0 0;
  background: #ffffff;
}

.dropdown.active .select > i {
  transform: rotate(-180deg);
}

/* Field/Counter */
.fields {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}
.fields .field {
  display: inline-block;
  width: 100%;
  max-width: 130px;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
}
.fields .field .field-counter {
  font-size: 16px;
  font-weight: 700;
}

/* Footer */
footer {
  display: block;
  width: 100%;
}
footer .content-footer {
  text-align: center;
  padding: 20px 0 40px;
}
footer .content-footer span {
  color: #bababa;
}
footer .content-footer span i {
  color: rgba(255, 99, 132, 0.7);
}

#references ul li {
	margin-bottom: 10px;
}

@media screen and (max-width: 480px) {

  .img-small {
    width: 100%;
  }
  .tabs label {
    width: 100%;
  }
  .tabs .tabs-content {
    order: 0;
  }

  #background ul, #method ul {
    padding: 10px 0 0 0;
  }
	
	.menu-active #content {
		overflow: hidden!important;
}
}

/*# sourceMappingURL=style.css.map */
